h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E5FBFE;
}

#title {
    color: #393F40;
    margin-top: 0;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: #ACBDBF;
    padding-top: 50px;
    padding-bottom: 50px;
}

