h1 {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    /* lightest color */
    /* background-color: #E5FBFE; */
    background-color: #FFECE6;
    font-family: Arial, Helvetica, sans-serif;
    /* darkest color
    color: #393F40; */
    color: #805A4D;
}

img {
    border-style: solid;
    /* second darkest color
    border-color: #737E80; */
    border-color: #FFB399;
    border-width: thick;
}

#title {
    margin-top: 0;
    height: 250px;
    width: 100%;
    text-align: center;
    /* second lightest color
    background-color: #ACBDBF; */
    background-color: #CCBDB8;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gifs {
    width: 100%;
    text-align: center;
}

.one_gif {
    margin-top: 20px;
}

button {
    height: 45px;
    width: 150px;
    font-size: 20px;
    background-color: #FFB399;
    border-color: #805A4D;
    color: #805A4D;
    border-radius: 10px;
}

input {
    height: 35px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
