
<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}


{% block body %}
<div id='title'>
   <h1>Search Gifs</h1>
</div>
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
<form action='/'>
    <p>
        Search:
        <input type='text' name='search_term'/>
    </p>
    <button type='submit'>Search</button>
</form>
{% if trending %}
    <p>
    Trending GIFs
    </p>
{% endif %}
{% for url in urls %}
    {% include 'gif.html' %}
{% endfor %}
{% if urls|length == 0 %}
    Sorry! No GIFs found with that search.
{% endif %}
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->

{% endblock body %}
