
<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}


{% block body %}
<div id='title'>
   <h1>Search Gifs</h1>
    <!-- TODO: Make an HTML form containing a search box and a submit button to add
        the search term to the query string -->
    <form action='/'>
        <p>
            <input type='text' name='search_term'/>
        </p>
        <button type='submit'>Search</button>
    </form>
</div>
<div id='gifs'>
    {% if trending %}
        <p>
        Trending GIFs
        </p>
    {% endif %}
    <!-- For loop to loop over GIFs passed in from the server -->
    {% for url in urls %}
        <!-- For each gif, include the 'gif.html' template to display it -->
        {% include 'gif.html' %}
    {% endfor %}
    {% if urls|length == 0 %}
        Sorry! No GIFs found with that search.
    {% endif %}
</div>
{% endblock body %}
