
<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}


{% block body %}
<div id='title'>
   <h1>Find Gifs!</h1>
   <!-- Make an HTML form containing a search box and a submit button to add
        the search term to the query string -->
    <form action='/'>
        <p>
            <!-- Create search bar -->
            <input type='text' placeholder="Search Tenor..." name='search_term'/>
        </p>
        <!-- Create search button -->
        <button type='submit'>Search</button>
    </form>
</div>
<div id='gifs'>
    {% if trending %}
        <!-- Title the GIFs section "Trending Gifs" if trending is being displayed -->
        <p>
        Trending GIFs
        </p>
    {% endif %}
    <!-- For loop to loop over GIFs passed in from the server -->
    {% for url in urls %}
        <!-- For each gif, include the 'gif.html' template to display it -->
        <div class='one_gif'>
            {% include 'gif.html' %}
        </div>
    {% endfor %}
    {% if urls|length == 0 %}
        <!-- Display message if no GIFs are found -->
        Sorry! No GIFs found with that search.
    {% endif %}
</div>
{% endblock body %}
